<!DOCTYPE html>
 <head>
   <meta charset="UTF-8">
   <title>Home_page</title>
 </head>
 <body>
   <h1>admin</h1>
   <ul>
      <% posts.forEach(function(item){  %>
      <li>
          <%= item %>
      </li>
      <% }); %>
   </ul>



 </body>
</html>
